html,body,#root {
   height: 100%;
}

.App {
  font-family: "Century Gothic";
  height: 100%;
}

.App-header {
    background-color: #4E2A84;
    text-align: center;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-header a {
  color: white;
}

.App-title {
    font-size: 28px;
}

.main-content {
  padding: 20px 20px 20px 20px;
  background-color: #f2f2f2;
  height: 100%;
}

.centeredText {
  text-align: center;
}

.rightText {
  text-align: right;
}

.bold {
   font-weight: bold;
}

.underlinedText {
  text-decoration: underline;
}

.search-content {

}

.changeButton {
    text-decoration: none;
    color: black;
}

a.changeButton:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.course-list-content {
  padding-top: 15px;
}

.subcourselist {
  margin-bottom: 30px;
  text-align: center;
}

.sectionHeader {
  font-size: 20px;
  margin-bottom: 15px;
}

.subcourselist p {
  font-size: 18px;
}

a.list-group-item:hover {
  background-color: #8c8c8c !important;
  color: white !important;
}

.register-button {
  background-color: #836EAA !important;
  border-color: #836EAA !important;
  margin-top: 25px;
}

button.register-button:hover {
  background-color: #401F68 !important;
  border-color: #401F68 !important;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}
.tsearch {
  height: 200px;
}
.tsuggested {
  height: 400px;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
